[project]
	description = Simple HTML5 Charts using the <canvas> tag
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stephen Leung (fatstar415)
[access "refs/for/refs/*"]
	read = group user/Stephen Leung (fatstar415)
	push = group user/Stephen Leung (fatstar415)
	label-Code-Review = -2..+2 group user/Stephen Leung (fatstar415)
	label-Verified = -1..+1 group user/Stephen Leung (fatstar415)
	rebase = group user/Stephen Leung (fatstar415)
	removeReviewer = group user/Stephen Leung (fatstar415)
	submit = group user/Stephen Leung (fatstar415)
[access "refs/heads/*"]
	read = group user/Stephen Leung (fatstar415)
	create = group user/Stephen Leung (fatstar415)
	push = +force group user/Stephen Leung (fatstar415)
	pushMerge = group user/Stephen Leung (fatstar415)
[access "refs/tags/*"]
	push = +force group user/Stephen Leung (fatstar415)
	pushTag = group user/Stephen Leung (fatstar415)
	pushSignedTag = group user/Stephen Leung (fatstar415)
